# Configuration file for interstellar_sim01a.cpp
3			# Order of polynomial interpolation
10 			# Number of perturbing bodies ('planets')
0			# Which 'planet' is the Sun (starting from 0)
3			# Which planet is Earth (starting from 0)
132712440041.279419	# MG (km^3/sec^2) for planet 0
22031.868551		# MG (km^3/sec^2) for planet 1
324858.592000		# MG (km^3/sec^2) for planet 2
398600.435507		# MG (km^3/sec^2) for planet 3
4902.800118		# MG (km^3/sec^2) for planet 4
42828.375816		# MG (km^3/sec^2) for planet 5
126712764.100000	# MG (km^3/sec^2) for planet 6
37940584.841800		# MG (km^3/sec^2) for planet 7
5794556.400000		# MG (km^3/sec^2) for planet 8
6836527.100580		# MG (km^3/sec^2) for planet 9
Sun1day2020s_01a.txt	  # Ephemeris file for planet 0
Mercury1day2020s_01a.txt  # Ephemeris file for planet 1
Venus1day2020s_01a.txt	  # Ephemeris file for planet 2
Earth1day2020s_01a.txt	  # Ephemeris file for planet 3
Moon1day2020s_01a.txt	  # Ephemeris file for planet 4
Mars1day2020s_01a.txt	  # Ephemeris file for planet 5
Jupiter1day2020s_01a.txt  # Ephemeris file for planet 6
Saturn1day2020s_01a.txt	  # Ephemeris file for planet 7
Uranus1day2020s_01a.txt	  # Ephemeris file for planet 8
Neptune1day2020s_01a.txt  # Ephemeris file for planet 9
32.6			  # Gaussian sigma on U component of velocity
22.4			  # Gaussian sigma on V component of velocity
16.5			  # Gaussian sigma on W component of velocity
-10.2			  # Mean value of U component of velocity
-18.3			  # Mean value of V component of velocity
-7.4			  # Mean value of W component of velocity
2000.0			  # Starting distance in AU
10.0			  # Max impact parameter in AU
18.0			  # Minimum absolute magnitude
23.0			  # Maximum absolute magnitude
0.5			  # Slope of absolute magnitude power law
24.0			  # Faintest detectable magnitude
60500.0			  # Starting point for orbit integration
60700.0			  # Endpoint for orbit integration
60510.0			  # Earliest time for perihelion
60690.0			  # Latest time for perihelion
0.05			  # 1-D Gaussian astrometric error in arcsec
