# Configuration file for solarsyst_sim01a.cpp
3			# Order of polynomial interpolation
10 			# Number of perturbing bodies ('planets')
0			# Which 'planet' is the Sun (starting from 0)
3			# Which planet is Earth (starting from 0)
132712440041.279419	# MG (km^3/sec^2) for planet 0
22031.868551		# MG (km^3/sec^2) for planet 1
324858.592000		# MG (km^3/sec^2) for planet 2
398600.435507		# MG (km^3/sec^2) for planet 3
4902.800118		# MG (km^3/sec^2) for planet 4
42828.375816		# MG (km^3/sec^2) for planet 5
126712764.100000	# MG (km^3/sec^2) for planet 6
37940584.841800		# MG (km^3/sec^2) for planet 7
5794556.400000		# MG (km^3/sec^2) for planet 8
6836527.100580		# MG (km^3/sec^2) for planet 9
/home/aheinze/HelioLincExp/Sun1day2020s_01a.txt	  # Ephemeris file for planet 0
/home/aheinze/HelioLincExp/Mercury1day2020s_01a.txt  # Ephemeris file for planet 1
/home/aheinze/HelioLincExp/Venus1day2020s_01a.txt	  # Ephemeris file for planet 2
/home/aheinze/HelioLincExp/Earth1day2020s_01a.txt	  # Ephemeris file for planet 3
/home/aheinze/HelioLincExp/Moon1day2020s_01a.txt	  # Ephemeris file for planet 4
/home/aheinze/HelioLincExp/Mars1day2020s_01a.txt	  # Ephemeris file for planet 5
/home/aheinze/HelioLincExp/Jupiter1day2020s_01a.txt  # Ephemeris file for planet 6
/home/aheinze/HelioLincExp/Saturn1day2020s_01a.txt	  # Ephemeris file for planet 7
/home/aheinze/HelioLincExp/Uranus1day2020s_01a.txt	  # Ephemeris file for planet 8
/home/aheinze/HelioLincExp/Neptune1day2020s_01a.txt  # Ephemeris file for planet 9
1.3			  # Minimum perihelion distance in AU
5.5			  # Maximum perihelion distance in AU
1.5			  # Minimum aphelion distance in AU
6.5			  # Maximum aphelion distance in AU
30.0			  # Max value for inclination in degrees
365.0			  # Time range for integration in days
30			  # Range +/- for ecliptic latitude
5			  # Step size for ecliptic latitude
10			  # Step size for solar elongation (must be even)

